@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown {
  position: absolute;
  background-color: #ffffff;
  top: 20px;
  left: 0px;
  z-index: 100;
  opacity: 0;
  transform: scale(0, 0);
  transition: 0.5s;
  border-radius: 6px;
}

.dropdown.active {
  opacity: 1;
  transform: scale(1, 1);
}

.dropdown-items {
  color: #7c7c7c;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 16px;
  width: 10rem;
  line-height: 19px;
  cursor: pointer;
}

.dropdown-items:hover {
  background-color: #f1f1f1;
}
